################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/*
# Diretórios de saída de compilação
**/bin/
**/obj/

# Arquivos específicos gerados pela compilação
*.pdb
*.cache

# Ignorar arquivos gerados automaticamente durante o build
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.AssemblyReference.cache

# Exceções específicas (remova ou ajuste conforme necessário)
!**/Exceptions/*.cs # Não ignorar arquivos de exceção manualmente criados

**/obj/project.nuget.cache
*.csproj
# Ignorar arquivos relacionados a build e cache de pacotes NuGet
**/obj/*.csproj.nuget.*
**/obj/*.assets.cache
**/obj/project.assets.json
**/obj/project.nuget.cache
**/obj/*.GeneratedMSBuildEditorConfig.editorconfig

# Ignorar arquivos de build de projetos específicos
**/obj/*.g.props
**/obj/*.g.targets
**/obj/*.dgspec.json
/CommunityLibrary.Api/CommunityLibrary.Api.csproj.user
/CommunityLibrary.Api/appsettings.json
*.cs
